<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="ForteArchives.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <ForteArchives.Properties.Settings>
            <setting name="Instance" serializeAs="String">
                <value>SQLEXPRESS</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>ForteData</value>
            </setting>
            <setting name="UserName" serializeAs="String">
                <value>Forte</value>
            </setting>
            <setting name="PassWord" serializeAs="String">
                <value>etrof</value>
            </setting>
            <setting name="LocalHost" serializeAs="String">
                <value>127.0.0.1</value>
            </setting>
        </ForteArchives.Properties.Settings>
    </userSettings>
</configuration>